PORT=4000
NODE_ENVIRONMENT=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=full_stack_template
DB_USER=vahemm
DB_PASSWORD=root

PASSWORD_SECRET=123123123
JWT_SECRET=jwt_secret


BYBIT_API_KEY=bybit_api_key
BYBIT_API_SECRET=bybit_api_secret